//fonts

$base-font                : 'Poppins', sans-serif;
$heading-font             : 'Poppins', sans-serif;
$base-font-size           : 14px;

//colors

$white                    : #ffffff;
$black                    : #111111;
$black-lighter            : #444444;
$gray                     : #646464;
$gray-light               : #f8f8f8;
$border-color             : #e8e8e8;

$primary-color            : #F86F03;
$secondary-color          : #0A6EBD;
$ternary-color            : #003259;
$orange                   : #ff4747;
$purple                   : #4125dd;
$yellow                   : #f87c57;
